# Ignore environment files (like virtual environments)
env/
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore test files (if you don't want them in the repo)
/test/

# Ignore log files
*.log
